<div class="container">

  <% if @surveys.any?() %>
      <h4>All surveys: </h4>
      <ul>
      <% @surveys.each() do |survey| %>
        <li><a href="/user/surveys/<%= survey.id() %>"> <%= survey.name() %></a></li>
      <% end %>
      </ul>

  <% else %>
      <h5>No surveys added yet!</h5>
  <% end %>

</div>
